:root{
    /* ### Primary */

--Marine-blue: hsl(213, 96%, 18%);
--Purplish-blue: hsl(243, 100%, 62%);
--Pastel-blue: hsl(228, 100%, 84%);
--Light-blue: hsl(206, 94%, 87%);
--Strawberry-red: hsl(354, 84%, 57%);

    /* ### Neutral */

--Cool-gray: hsl(231, 11%, 63%);
--Light-gray: hsl(229, 24%, 87%);
--Magnolia: hsl(217, 100%, 97%);
--Alabaster: hsl(231, 100%, 99%);
--White: hsl(0, 0%, 100%);

    /* ### Image address */
--mobile-Image-Add: url("./assets/images/bg-sidebar-mobile.svg");
--desktop-Image-Add: url("./assets/images/bg-sidebar-desktop.svg");
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--Magnolia);
}
/* main{
    padding: 1em;
    margin: 1em;
} */
section{
    margin: auto;
}

/* ==== Utilities ==== */
.p-color{
    color: var(--Cool-gray);
}
.card-bg{
    background-color: var(--White);
    border-radius: 10px;
    box-shadow: 0 10px 15px lightgrey;
}
.card{
    padding: 1em; 
    max-width: calc(100vw - 6em);
}
.pd-3{
    padding: 1em;
}
.pd-2{
    padding: 0.5em;
}
.w-100{
    width: 100%;
}
.w-auto{
    width: auto;
}
/* ==== Sidebar ==== */
.sidebar{
    display: flex;
    justify-content: center;
    background-image: var(--mobile-Image-Add);
    background-repeat: no-repeat;
    width: 100vw;
    height: 170px;
    background-position: center;
    background-size: cover;
}
.sidebar button{
    padding: 1em;
    margin: 2em 1em;
    border-radius: 50%;
    background-color: blue;
    color: white;
    border: solid 1px white;
    height: 40px;
    width: 40px;
}
.sidebar a{
    color: white;
    text-decoration: none;
}
/* .sidebar button{
    background-color: var(--Light-blue);
    color: black;
} */
.sidebar .step, .sidebar .form-title{
    display: none;
}
input[value="Next Step"]{
    margin: 1em;
    background-color: var(--Marine-blue);
    color: white;
    border: 0;
    border-radius: 5px;
}
input[value="Go Back"] {
    margin: 1em;
    color: var(--Cool-gray);
    border: 0;
    border-radius: 5px;
    background-color: transparent;
}
.btn-position{
    display: flex;
    justify-content: space-between;
}

.plan{
    border-radius: 5px;
    border: 2px solid transparent;
}
input[type="radio"]{
    display: none;
}
.plan, .plan img{
    margin: 1em 0;
}
.plan div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
h2, .plan div p, .addOn p{
    margin: 0 0 0 0.5em;
}
.M-or-Y{
    display: flex;
    justify-content: center;
    background-color: var(--Light-gray);
    color: var(--Cool-gray);
    border-radius: 10px;
}

/* ==== Personal Info ==== */
legend {
    font-size: small;
    padding: 0;
    margin: 0;
}
/* ==== Plan ==== */
.plan{
    display: flex;
}


.addOn{
    display: flex;
    margin: 0.5em 0;
}
label.addOn{
    justify-content: space-between;
    align-items: center;
}
input[type="checkbox"]{
    width: 20px;
}


/* ==== Footer ==== */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}