:root{
    /* ### Primary */

--Marine-blue: hsl(213, 96%, 18%);
--Purplish-blue: hsl(243, 100%, 62%);
--Pastel-blue: hsl(228, 100%, 84%);
--Light-blue: hsl(206, 94%, 87%);
--Strawberry-red: hsl(354, 84%, 57%);

    /* ### Neutral */

--Cool-gray: hsl(231, 11%, 63%);
--Light-gray: hsl(229, 24%, 87%);
--Magnolia: hsl(217, 100%, 97%);
--Alabaster: hsl(231, 100%, 99%);
--White: hsl(0, 0%, 100%);

    /* ### Image address */
--mobile-Image-Add: url("./assets/images/bg-sidebar-mobile.svg");
--desktop-Image-Add: url("./assets/images/bg-sidebar-desktop.svg");
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--Magnolia);
}
/* main{
    padding: 1em;
    margin: 1em;
} */

/* ==== Utilities ==== */
.p-color{
    color: var(--Cool-gray);
}
.card-bg{
    background-color: var(--White);
    border-radius: 10px;
    box-shadow: 0 10px 15px lightgrey;
}
.card{
    padding: 1em; 
    max-width: calc(100vw - 6em);
}
.pd-3{
    padding: 1em;
}
.pd-2{
    padding: 0.5em;
}
.w-100{
    width: 100%;
}
.w-auto{
    width: auto;
}
/* ==== Sidebar ==== */
.sidebar{
    display: flex;
    justify-content: center;
    background-image: var(--mobile-Image-Add);
    background-repeat: no-repeat;
    width: 100vw;
    height: 170px;
}
.sidebar a{
    padding: 1em;
    margin: 1em;
    border-radius: 50%;
    background-color: blue;
    color: white;
    border: solid 1px white;
    text-decoration: none;
}
.sidebar .step, .sidebar .form-title{
    display: none;
}

/* ==== Personal Info ==== */
legend {
    font-size: small;
    padding: 0;
    margin: 0;
}
/* ==== Plan ==== */
.plan{
    display: flex;
}


/* ==== Footer ==== */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}